# -------------------------------
# Pipeline
# -------------------------------
PIPELINE_NAME=Olist_ETL_Pipeline

# -------------------------------
# Data Paths
# -------------------------------
RAW_DATA_PATH=data/raw
BRONZE_PATH=data/bronze
SILVER_PATH=data/silver
GOLD_PATH=data/gold
REJECTED_PATH=data/rejected

# -------------------------------
# PostgreSQL
# -------------------------------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=warehouse_db
DB_USER=postgres
DB_PASSWORD=123456

# -------------------------------
# Metadata
# -------------------------------
METADATA_TABLE=pipeline_metadata
AUDIT_TABLE=pipeline_audit

# -------------------------------
# Email
# -------------------------------
EMAIL_SENDER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_RECEIVER=your_email@gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587